/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav,
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

ul {
    margin : 0px;
}

nav li {
    padding: 20px;
    color : black;
    font-size: 16px;
}

nav li:hover {
    border-top: 2px solid var(--main-color);
    color : var(--main-color);
    cursor: pointer;
}

header img {
    margin-top: 20px;
    height: 19px;
}

/****** section recherche ******/

.recherche {
    display: flex;
    flex-direction: column;
}

.avecSous-titre {
    margin-bottom: 5px;
}

.sous-titre {
    margin-top: 5px;
}

.searchZone,
.filterZone {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.iconLocation {
    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    color: black;
}

.searchZone input[type="text"] {
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    text-align: center;
    width: 188px;
}

.searchZone button {
    border : none;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-size: 18px;
    padding-left: 17px;
    padding-right: 17px;
}

.desktop {
    display: inline;
}

.no-desktop {
    display: none;
}

.titreFiltre {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}

.buttonFilter {
    display: flex;
    flex-direction: row;
    padding: 4px 18px 4px 18px;
    height: 100%;
    margin-left: 17px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 1.01em;
}

.buttonFilter i {
    margin: auto;
    font-size: 20px;
}

.buttonFilter span {
    margin: auto;
    padding-left: 10px;
    font-weight: bold;
}

.buttonFilter:hover {
    background-color:  var(--filter-bg-color);
}

.infobar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.infobar i {
    text-align: center;
    border: 2px solid var(--main-bg-color);
    border-radius: 50%;
    height: 13px;
    width: 13px;
    padding: 5px;
    font-size: 0.8em;
    margin-top: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 31%;
    margin-top: 33px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 0.9em;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.hebergementsPlus {
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.1em;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.activites-cards a {
    display: flex;
    margin-top: 33px;
    width: 22.7%;
}

.activites-cards .card {
    padding: 0px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    width: 100%;
    padding: 20px 19px 20px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

/****** Footer ***********/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    background-color: var(--main-bg-color);
    padding: 20px;
}

footer ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap : 15px;
    width: 33%;
}

.titreFooter {
    font-weight: bold;
    font-size: 1.15em;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .titreFiltre {
        width: 100%;
    }

    .filterZone {
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .buttonFilter {
        margin-left: 0px;
        margin-right: 8px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    body {
        width: 100%;
        margin: 0px;
    }
    .main-container {
        padding: 0px;
    }

    /*** Header ***/

    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid var(--main-bg-color);
        padding-left: 0px;
        width: 100%;
        margin-bottom: 20px;
    }

    nav li {
        text-align: center;
        width: 50%;
    }

    nav li:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    /*** Zone recherche ***/

    .recherche {
        padding: 0px 20px 0px 20px;
        margin-bottom: 20px;
    }

    .searchZone input[type="text"] {
        width: 100%;
    }
    
    .searchZone button {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .desktop {
        display: none;
    }
    .no-desktop {
        display: inline;
        color: var(--main-bg-color);
    }

    .filterZone {
        flex-wrap: wrap;
        margin-bottom: 140px;
        gap: 10px;
    }

    .buttonFilter {
        width: 48%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        font-size: 0.8em;
        display: block;
        text-align: left;
    }

    /*** Hebergements et populaires ***/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 0px;
        border-radius: 0;
        padding: 30px 20px 30px 20px;
    }

    /*** Populaires ***/

    .populaires {
        margin-top: 0px;
    }

    .populaires h2 {
        margin-bottom: 17px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 17px;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*** Hebergements ***/

    .hebergements {
        margin-top: 0px;
        background-color: white !important;
    }

    .hebergements h2 {
        margin-bottom: 17px;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 17px;
    }

    .hebergements-cards .card{
        margin-top: 0px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergementsPlus {
        margin-top: 17px;
        font-size: 1.2em;
    }

    /*** Activites ***/

    .activites {
        width: auto;
        margin-top: 0px;
        padding: 30px;
    }

    .activites-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activites-cards a,
    .activites-cards .card {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
    }

    /*** Footer ***/
    
    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }
    
    footer ul {
        width: 100%;
    }

    footer li {
        font-size: 18px;
    }
}